html, body, .page {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  min-width: 100%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

.return-link {
  position: relative;
  bottom: 5em;
  right: 0.75em;
  width: 1em;
}

main {
  padding: 150px 0;
  margin: 5em 0 1em 0;
}

h2, h3, h4, a, p {
  text-align: center;
}

a {
  font-size: 1em;
}

.section-title {
  margin: 0 auto;
  max-width: 720px;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #FF8811;
}

/* Header */
header {
  width: 100%;
  background-color: #4C86A8;
  display: block;
  position: fixed;
  top: 0;
}
header h1, header ul, header li, header a {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
header li, header a {
  display: block;
  text-align: center;
  line-height: 30px;
}
header .nav__link {
  padding: 0.8em;
  color: #333333;
  background-color: #4C86A8;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}
header .nav__link:hover {
  background-color: #333333;
  color: #eeeeee;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}
header .nav__container {
  width: 100%;
  min-width: 100%;
}

.about__content .about__text {
  width: 85%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.contact__form fieldset {
  width: 85%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  text-align: left;
  margin: 1em auto;
  border: none;
  font-size: 0.9em;
}
.contact__form fieldset label {
  display: block;
  margin: 1em 0 0.2em 0;
}
.contact__form fieldset input, .contact__form fieldset textarea {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  color: #333333;
  border: 2px solid #4C86A8;
  background-color: #eeeeee;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  width: 100%;
  padding: 1em;
  margin-bottom: 0.75em;
}
.contact__form fieldset textarea {
  height: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
.contact__form fieldset input:hover, .contact__form fieldset textarea:hover, .contact__form fieldset input:focus, .contact__form fieldset textarea:focus {
  outline: none;
  color: #FF8811;
  border: 2px solid #FF8811;
  background-color: #ffffff;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}
.contact__form fieldset .submit-btn {
  background-color: #FF8811;
  border: 5px solid #333333;
  color: #333333;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  display: block;
  width: 100%;
  padding: 1em;
  margin-top: 0.8em;
  border-radius: 0.75em;
  font-size: 1.2em;
}
.contact__form fieldset .submit-btn:hover {
  background-color: #333333;
  border: 5px solid #FF8811;
  color: #FF8811;
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}

/* Projects */
.project__content .project__preview {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  width: 85%;
  max-width: 720px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  -webkit-box-shadow: 12px 12px 15px -4px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 12px 12px 15px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 12px 12px 15px -4px rgba(0, 0, 0, 0.36);
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
  display: block;
  width: 100%;
  max-width: 1024px;
  margin-bottom: 50px;
  border: 1px solid #666666;
  border-radius: 10px;
}
.project__content .project__preview:hover {
  -webkit-box-shadow: 12px 12px 15px -10px rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 12px 12px 15px -10px rgba(0, 0, 0, 0.36);
  box-shadow: 12px 12px 15px -10px rgba(0, 0, 0, 0.36);
  -moz-transition: ease 0.2s;
  -webkit-transition: ease 0.2s;
  -o-transition: ease 0.2s;
  transition: ease 0.2s;
}
.project__content .project__title {
  margin: 0.2em;
}

@media screen and (min-width: 705px) {
  header ul {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  header ul li {
    display: inline;
  }
  header ul li a {
    display: inline-block;
  }
  header ul .nav__link {
    background-color: #4C86A8;
    color: #333333;
    -moz-transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
  }
  header ul .nav__link:hover {
    background-color: #4C86A8;
    color: #eeeeee;
    -moz-transition: ease 0.2s;
    -webkit-transition: ease 0.2s;
    -o-transition: ease 0.2s;
    transition: ease 0.2s;
  }

  main {
    padding-top: 5em;
  }
}

/*# sourceMappingURL=main-style.css.map */
