#main-nav {
	background-color: rgba(182, 160, 219, 0.8);
	width: 100px;
	height: 100px;
}

span #full-name {
	grid-area: full-name;
}

#about-me-link {
	grid-area: about-me-link;
}

#contact-info-link {
	grid-area: contact-info-link;
}

#projects-link {
	grid-area: projects-link;
}

a {
	text-decoration: none;
	color: #1f1f1f;
}

a:hover {
	color: #bfbfbf;
}

.active {
	color: #bfbfbf;
}