// main-style.scss

// Variables
$base-color: #000000;
$primary-color: #003282;
$secondary-color: #0344aa;
$accent-color: #33aa99;
$bg-color: #B9D6F2;

$full-width: 100%;
$huge: 40px;
$large: 15px;
$small: 10px;

@mixin reset{
	padding: 0;	margin: 0;	border: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin fill-viewport{
	width: 100%;
	min-width: 100%;
	height: 100%;
	min-height: 100%;
}

@mixin transition($duration) {  
		-moz-transition: ease $duration;
		-webkit-transition: ease $duration;
		-o-transition: ease $duration;
		transition: ease $duration;
}

@mixin align($center){	
	margin: auto;
	text-align: center;
}

@mixin hoverable-nav($hovering) {
	@if $hovering{
		color: $bg-color;
		background-color: $secondary-color;		
	}	 @else{		
		color: $secondary-color;
		background-color: $bg-color;		
	}	

	@include transition(0.1s);
}

@mixin hoverable($hovering) {
	@if $hovering{
		color: $accent-color;
	}	 @else{		
		color: $secondary-color;
	}	

	@include transition(0.1s);
}

html, body, .page {
	@include reset;
	@include fill-viewport;
	font-size: 18px;	
	font-family: Arial, Helvetica, sans-serif;
	color: #000;
}

main{
	padding: $huge 0 $huge 0;
}
h1, h2, h3 {
	text-align: center;
}

a {
	font-size: 1.1em;
	text-align: center;
	@include hoverable(false);
}

a:hover {
	@include hoverable(true);
}

p{
	text-align: center;
}

/* Header */

header {
	
	h1 {
		@include reset;
		padding: $small;
	}

	ul, li, a {
		@include reset;
		display: block;
		text-align: center;
	}

	.nav__link {
		padding: $small;
		@include hoverable-nav(false);
	}

	.nav__link:hover {
		padding: $small;
		@include hoverable-nav(true);
	}
	.nav__container {
		width: 100%;
		min-width: 100%;
	}

	.top-nav--fixed {
		position: fixed;
		top: 0;
		width: 100%;
	}

}



fieldset {
	border: none;
	
	label {
		font-size: 0.9em;
		display: none;
	}

	input {
		display: block;
		width: 100%;
		padding: $small;
		box-sizing: border-box;
		margin-bottom: $small;
	}
}


/* Projects */

.project__preview{
	@include reset;
	width: 100%;
	max-width: 1024px;
}

@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 900px) {}