// main-style.scss

// Variables
$primary-color: #333333;
$secondary-color: #666666;
$accent-color: #FF8811;
$bg-color: #4C86A8;
$focus-color: #eeeeee;

$primary-font: Arial, Helvetica, sans-serif;

$border: 1px solid $accent-color;
$input-border: 1px solid $bg-color;
$btn-border: 1px solid $accent-color;


$full-width: 100%;
$huge: 5em;
$large: 1.0em;
$medium: 0.8em;
$small: 0.75em;
$tiny: 0.2em;

@mixin reset{
	padding: 0;	margin: 0;	border: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin fill-viewport{
	width: 100%;
	min-width: 100%;
}

@mixin transition($duration) {  
	-moz-transition: ease $duration;
	-webkit-transition: ease $duration;
	-o-transition: ease $duration;
	transition: ease $duration;
}

@mixin center{	
		width: 85%;
		max-width: 720px;
		margin-right: auto; margin-left: auto;
		text-align: center;
}

@mixin mobile-menu-hover($hovering){
	@if $hovering{
		background-color: $primary-color;		
		color: $focus-color;
	}	 @else{		
		color: $primary-color;
		background-color: $bg-color;		
	}
	@include transition(0.2s);
}

@mixin desktop-menu-hover($hovering){
	@if $hovering{
		background-color: $bg-color;		
		color: $focus-color;
	}	 @else{		
		background-color: $bg-color;		
		color: $primary-color;
	}
	@include transition(0.2s);
}

@mixin input-hover($hovering){
	@if $hovering{
		outline: none;
		color: $accent-color;
		border: 2px solid $accent-color;
		background-color: #ffffff;
	}
	@else{
		color: $primary-color;
		border: 2px solid $bg-color;
		background-color: $focus-color;
	}
	@include transition(0.2s);
}

@mixin btn-hover($hovering){
	@if $hovering{
		background-color: $primary-color;
		border: 5px solid $accent-color;
		color: $accent-color;
	}@else {
		background-color: $accent-color;
		border: 5px solid $primary-color;
		color: $primary-color;
	}
	@include transition(0.2s);
}

@mixin box-shadow($hovering){
	@if($hovering){
		-webkit-box-shadow: 12px 12px 15px -10px rgba(0,0,0,0.36);
		-moz-box-shadow: 12px 12px 15px -10px rgba(0,0,0,0.36);
		box-shadow: 12px 12px 15px -10px rgba(0,0,0,0.36);
	} @else {
		-webkit-box-shadow: 12px 12px 15px -4px rgba(0,0,0,0.36);
		-moz-box-shadow: 12px 12px 15px -4px rgba(0,0,0,0.36);
		box-shadow: 12px 12px 15px -4px rgba(0,0,0,0.36);
	}
	@include transition(0.2s);
}

html, body, .page {
	@include reset;
	@include fill-viewport;
	font-size: 18px;	
	font-family: $primary-font;
	color: $primary-color;
}

.return-link{
	position: relative;
	bottom: $huge;
	right: $small;
	width: $large;
}

main{
	padding: 150px 0;
	margin: $huge 0 $large 0;
}

h2, h3, h4, a, p {
	text-align: center;
}

a {
	font-size: $large;
}

.section-title{
	margin: 0 auto;
	max-width: 720px;
	padding-bottom: $small;
	border-bottom: $border;
}

/* Header */

header {
	width: 100%;
	background-color: $bg-color;
	display: block;
		position: fixed;
		top: 0; 
	h1, ul, li, a {
		@include reset;
	}

	li, a {
		display: block;
		text-align: center;
		line-height: 30px;
	}
	
	.nav__link {
		padding: $medium;
		@include mobile-menu-hover(false);
	}

	.nav__link:hover {
		@include mobile-menu-hover(true);
	}

	.nav__container {
		width: 100%;
		min-width: 100%;
	}
}

.about__content{
	.about__text{
		@include center;
	}
}

.contact__form{
	fieldset {
		@include center;
		
		text-align: left;
		margin: $large auto;
		border: none;
		font-size: 0.9em;
		
		label {
			display: block;
			margin: $large 0 0.2em 0;
		}

		input, textarea {
			@include reset;
			@include input-hover(false);
			width: $full-width;
			padding: $large;
			margin-bottom: $small;
		}

		textarea{
			height: 150px;
			font-family: $primary-font;
		}

		input:hover, textarea:hover, input:focus, textarea:focus{
			@include input-hover(true);
		}

		.submit-btn{
			@include btn-hover(false);
			display: block;
			width: 100%;
			padding: $large;
			margin-top: $medium;
			border-radius: $small;
			font-size: 1.2em;
		}
		
		.submit-btn:hover{
			@include btn-hover(true);
		}
	}
}

/* Projects */
.project__content{
	.project__preview{
		@include reset;
		@include center;
		@include box-shadow(false);
		display: block;
		width: 100%;
		max-width: 1024px;
		margin-bottom: 50px;
		border: 1px solid $secondary-color;
		border-radius: 10px;
	}
	.project__preview:hover{
		@include box-shadow(true);
	}
	.project__title{
		margin: $tiny;
	}
}

@media screen and (min-width: 500px){
	
}

@media screen and (min-width: 705px) {

	header {
		ul{
			width: 90%;
			margin: 0 auto;
			text-align: center;
			li{
				display: inline;		
				a{
					display: inline-block;
				}
			}
			.nav__link{
				@include desktop-menu-hover(false);
			}
			
			.nav__link:hover{
				@include desktop-menu-hover(true);
			}
			}
	}

	main{
		padding-top: $huge;
	}

}
	

@media screen and (min-width: 900px) {}