// main-style.scss

// Variables
$primary-color: #666666;
$secondary-color: #333333;
$accent-color: #FF8811;
$bg-color: #4C86A8;

$primary-font: Arial, Helvetica, sans-serif;

$border: 1px solid $accent-color;
$input-border: 1px solid $bg-color;

$full-width: 100%;
$huge: 1.2em;
$large: 1.0em;
$medium: 0.9em;
$small: 0.75em;
$tiny: 0.6em;

@mixin reset{
	padding: 0;	margin: 0;	border: 0;
	text-decoration: none;
	-webkit-box-sizing: border-box;	
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin fill-viewport{
	width: 100%;
	min-width: 100%;
}

@mixin transition($duration) {  
	-moz-transition: ease $duration;
	-webkit-transition: ease $duration;
	-o-transition: ease $duration;
	transition: ease $duration;
}

@mixin center{	
		width: 85%;
		max-width: 720px;
		margin-right: auto; margin-left: auto;
		text-align: center;
}

@mixin hoverable-nav($hovering) {
	@if $hovering{
		color: $bg-color;
		background-color: $secondary-color;		
	}	 @else{		
		color: $secondary-color;
		background-color: $bg-color;		
	}	
	@include transition(0.1s);
}

@mixin hoverable($hovering) {
	@if $hovering{
		color: $bg-color;
	}	 @else{		
		color: $secondary-color;
	}	
	@include transition(0.1s);
}

html, body, .page {
	@include reset;
	@include fill-viewport;
	font-size: 18px;	
	font-family: $primary-font;
	color: $primary-color;
}

.return-link{
	position: relative;
	bottom: $huge;
	right: $small;
	width: $large;
}

main{
	padding: $small 0;
	margin: $large 0;
}

h2, h3, h4 {
	text-align: center;
}

a {
	font-size: $large;
	text-align: center;
	@include hoverable(false);
}

a:hover {
	@include hoverable(true);
}

p{
	text-align: center;
}

.section-title{
	margin: 0 $huge;
	padding-bottom: $small;
	border-bottom: $border;
}

/* Header */

header {
	
	h1 {
		@include reset;
	}

	ul, li, a {
		@include reset;
		display: block;
		text-align: center;
	}
	
	.nav__link {
		padding: $medium;
		@include hoverable-nav(false);
	}

	.nav__link:hover {
		@include hoverable-nav(true);
	}
	.nav__container {
		width: 100%;
		min-width: 100%;
	}

	.top-nav--fixed {
		position: fixed;
		top: 0;
		width: 100%;
	}

}

.about__content{
	.about__text{
		@include center;
	}
}

.contact__form{
	fieldset {
		@include center;
		text-align: left;
		margin: $large auto;
		border: none;
		font-size: 0.9em;
		
		label {
			display: block;
			margin: $small 0;
		}

		input {
			@include reset;
			@include hoverable(false);
			border: $input-border;
			width: $full-width;
			padding: $large;
			margin-bottom: $small;
		}

		input:hover{
			@include hoverable(true);
			border: $border;
		}

		input[type=submit]{
			@include hoverable-nav(false);
			padding: $large;
			margin-top: $medium;
			border-radius: $small;
			font-size: 1.2em;
		}
		
		input[type=submit]:hover{
			@include hoverable-nav(true);
		}
	}
}

/* Projects */
.project__content{
	.project__preview{
		@include reset;
		@include center;
		border: $border;
		width: 100%;
		max-width: 1024px;
	}
	.project__title{
		margin: $tiny;
	}
}

@media screen and (min-width: 500px) {
	
}

@media screen and (min-width: 900px) {}