/*
    Data Handling and Web Concepts 
    Project 2 - Web Project
    Charles Tiriamai
    90053917
*/
@import url("../main-style.css");
#sub-nav{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
#usability-section{
    width: 1500px;
    height: 700px;
    margin: 0px auto;
    margin-top: 50px;
    background-color: rgba(155, 155, 155, 0.97);
    border-radius: 4px;
    padding: 50px;
}
#usability-quality-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
dl{
    width: 400px;
    height: 200px;
}