
dl{
    text-align: center;
    border: 2px solid ;
    padding: 20px;
    margin: 0 ;
}
dt{
    padding-top: 20px;
    font-size: 25px;
}
dd{
    margin: 0;
    padding: 0;
}
ul{
    text-align: left;
}