/*
    Data Handling and Web Concepts 
    Project 2 - Web Project
    Charles Tiriamai
    90053917
*/

@import url("/projects/learnit/css/main-style.css");
main {
	width: 750px;
	margin: 0 auto;
	padding: 40px;
	padding-top: 100px;
	background-color: rgba(155, 155, 155, 0.97);
}

h5 {
	margin-bottom: 20px;
}

ul {
	margin-top: 0;
}

p {
	padding: 1px 0;
}

address {
	margin: 10px;
}

#alternate-privacy-policy-format {
	text-align: center;
}