/*
    Data Handling and Web Concepts 
    Project 2 - Web Project
    Charles Tiriamai
    90053917
*/

@import url("./main-style.css");
#sub-nav {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
}

main {
	width: 750px;
	margin: 0 auto;
	padding: 40px;
	padding-top: 20px;
	background-color: rgba(155, 155, 155, 0.97);
}

.main-section {
	padding-bottom: 150px;
	border-bottom: 2px solid rgba(43, 113, 171, 0.97);
}

code {
	padding: 20px;
	width: 100%;
}

table {
	width: 45%;
	margin: 0 auto;
	background-color: rgba(191, 191, 191, 0.8);
}

table, th, tr, td {
	padding: 10px;
}

th, td {
	border: 1px solid #3f3f3f;
}

section h3 {
	color: #3f3f3f;
	text-decoration: underline;
	font-size: 35px;
	margin: 55px 0 50px 0;
}

#main-section h4 {
	margin-bottom: 100px;
	font-size: 20px;
}

.target-link {
	margin-bottom: 200px;
}

code p {
	white-space: nowrap;
	padding: 10px;
	height: 0;
	margin: 0;
}

pre {
	margin: 0;
	width: 700px;
	height: 90px;
	padding: 20px;
	background-color: rgba(191, 191, 191, 0.8);
}

p {
	padding: 20px;
}

.keyword {
	color: blue;
}

svg {
	padding: 50px;
	display: block;
	margin: 0 auto;
}